:root {
  --primary-title-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --secondary-accent-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --primary-color: rgba(255, 255, 255, 1);
  --card-item: 4;
  --client-link: #afb1b8;
  --footer-accent-background-color: rgba(255, 255, 255, 0.1);
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --border-contact-form: rgba(33, 33, 33, 0.2);
  --hero-gradient: rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: var(--secondary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

address {
  font-style: normal;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  display: flex;
  align-items: center;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  /* letter-spacing: 0.03em; */
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__black {
  color: var(--primary-title-color);
}

.logo__white {
  color: var(--secondary-accent-color);
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-title {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  color: var(--primary-title-color);
}

@media (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.hero-button {
  min-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  border: none;
  letter-spacing: 0.06em;
  background: var(--accent-color);
  color: var(--secondary-accent-color);
  transition: background-color var(--transition);
}

.hero-button:hover, .hero-button:focus {
  background-color: #188ce8;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.card-item {
  flex-basis: calc(100% / var(--card-item) - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 65;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--transition);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.25);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  width: 100%;
  min-height: 609px;
  max-width: 450px;
  border-radius: 4px;
  background-color: var(--secondary-accent-color);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transition);
}

@media (min-width: 1200px) {
  .modal {
    min-height: 581px;
    max-width: 528px;
    width: 100%;
  }
}

.modal-invitation {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: var(--primary-title-color);
}

@media (min-width: 1200px) {
  .modal-invitation {
    line-height: 1.17;
  }
}

.contact-form__field {
  display: block;
}

.contact-form__field:not(:last-child) {
  margin-bottom: 10px;
}

.contact-information {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.contact-form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid var(--border-contact-form);
  border-radius: 4px;
  transition: border var(--transition);
}

.contact-form__input:hover, .contact-form__input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.contact-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill var(--transition);
}

.contact-form__input:hover + .contact-icon,
.contact-form__input:focus + .contact-icon {
  fill: var(--accent-color);
}

.contack-form__input__wraper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.contact-form__list {
  margin-bottom: 20px;
}

.contact-form__message {
  width: 100%;
  height: 120px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  resize: none;
  border: 1px solid var(--border-contact-form);
  border-radius: 4px;
  transition: border-color var(--transition);
}

.contact-form__message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.contact-form__message:hover, .contact-form__message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.contact-form__checkbox__label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  line-height: 1.17;
  margin-bottom: 30px;
  letter-spacing: 0.03em;
}

@media (min-width: 1200px) {
  .contact-form__checkbox__label {
    font-size: 14px;
    line-height: 1.71;
  }
}

.contact-form__checkbox__label::before {
  display: inline-flex;
  flex-shrink: 0;
  content: "";
  width: 16px;
  height: 15px;
  margin-right: 4px;
  border: 1px solid var(--primary-title-color);
  cursor: pointer;
}

@media (min-width: 1200px) {
  .contact-form__checkbox__label::before {
    margin-right: 10px;
  }
}

.contact-form__checkbox:hover + .contact-form__checkbox__label::before,
.contact-form__checkbox:focus + .contact-form__checkbox__label::before {
  border: 1px solid var(--accent-color);
}

.contact-form__checkbox:checked + .contact-form__checkbox__label::before {
  outline: none;
  background-image: url(../images/icon-check.svg);
  background-position: 50% 50%;
}

.contact-form__checkbox__link {
  font-weight: 400;
  color: var(--accent-color);
}

.contact-form__checkbox-wraper {
  margin-bottom: 26px;
}

.submit-button {
  display: block;
  margin: 0 auto;
}

.hero-close__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
  transition: fill var(--transition);
}

.hero-close__btn:hover, .hero-close__btn:focus {
  fill: var(--accent-color);
}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  color: var(--client-link);
  background-color: var(--footer-accent-background-color);
  border-radius: 50%;
  transition: color var(--transition), background-color var(--transition);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
  color: var(--secondary-accent-color);
}

.social-list__icon {
  fill: currentColor;
}

.social-list {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 480px) {
  .team-content .social-list {
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .team-content .social-list {
    justify-content: center;
  }
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__icon {
  fill: currentColor;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header .current::after {
  content: "";
  display: flex;
  position: absolute;
  bottom: -1px;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

.header .logo {
  margin-top: 16px;
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .header .logo {
    margin-right: 88px;
  }
}

@media (min-width: 1200px) {
  .header .logo {
    margin-right: 93px;
  }
}

.header-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-nav {
  display: flex;
  color: var(--primary-title-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

@media (max-width: 767.98px) {
  .site-nav {
    display: none;
  }
}

.header-link {
  display: flex;
  align-items: center;
  position: relative;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-colo);
  transition: color var(--transition);
}

.header-link:hover, .header-link:focus {
  color: var(--accent-color);
}

.auth-nav {
  margin-left: auto;
  transition: fill var(--transition), color var(--transition);
}

.auth-nav .header-link__icon {
  fill: currentColor;
  margin-right: 10px;
}

@media (max-width: 767.98px) {
  .auth-nav {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .auth-nav {
    display: block;
  }
  .auth-nav .header-link {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav {
    display: flex;
  }
  .auth-nav .item:not(:last-child) {
    margin-right: 50px;
  }
  .auth-nav .header-link {
    margin-bottom: 0px;
  }
}

.header {
  border-bottom: 1px solid #ececec;
}

@media (min-width: 768px) {
  .header .current::after {
    content: "";
    display: flex;
    position: absolute;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;
  }
}

.site-nav {
  display: flex;
  color: var(--primary-title-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

@media (max-width: 767.98px) {
  .site-nav {
    flex-direction: column;
  }
  .site-nav .item:not(:last-child) {
    margin-bottom: 32px;
  }
}

@media (min-width: 768px) {
  .site-nav .header-link {
    padding-bottom: 32px;
    padding-top: 32px;
  }
  .site-nav .item:not(:last-child) {
    margin-right: 50px;
  }
}

.header-link {
  display: flex;
  align-items: center;
  position: relative;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-colo);
  transition: color var(--transition);
}

.header-link:hover, .header-link:focus {
  color: var(--accent-color);
}

@media (max-width: 767.98px) {
  .header-link {
    font-size: 40px;
  }
}

@media (min-width: 768px) {
  .header-link {
    font-size: 14px;
  }
}

.auth-social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: -20px;
  margin-top: -20px;
}

.auth-social__item:not(:last-child):after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: -18px;
  width: 1px;
  height: 22px;
  border: 1px solid var(--border-contact-form);
}

.auth-list__link {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

@media (min-width: 768px) {
  .auth-social__list {
    display: none;
  }
}

.auth-social__item {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  margin-top: 20px;
}

.auth-social__item:not(:last-child) {
  margin-right: 10px;
}

.auth-nav {
  margin-left: auto;
  transition: color var(--transition);
}

@media (min-width: 768px) {
  .auth-nav {
    transition: fill var(--transition);
  }
}

.auth-nav .header-link {
  font-size: 30px;
}

@media (max-width: 767.98px) {
  .auth-nav .item:not(:last-child) {
    margin-top: 32px;
  }
  .auth-nav .item:first-child .header-link {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
  .auth-nav .header-tel {
    color: var(--accent-color);
  }
  .auth-nav .item:last-child .header-container {
    font-size: 34px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    margin-bottom: 32px;
  }
}

@media (min-width: 768px) {
  .auth-nav .header-link {
    font-size: 12px;
  }
  .auth-nav .item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  .auth-nav .item:not(:last-child) {
    margin-right: 50px;
    margin-bottom: 0px;
  }
}

@media (min-width: 1200px) {
  .auth-nav {
    display: flex;
    margin-left: auto;
  }
  .auth-nav .header-link {
    font-size: 14px;
  }
}

.auth-nav .header-link__icon {
  fill: currentColor;
  margin-right: 10px;
}

@media (max-width: 767.98px) {
  .auth-nav .header-link__icon {
    display: none;
  }
}

@media (min-width: 1200px) {
  .auth-nav .header-link__icon {
    margin-right: 10px;
  }
}

@media (max-width: 767.98px) {
  .auth-nav {
    flex-direction: column-reverse;
    display: flex;
    margin-bottom: 64px;
  }
}

.mobile-menu {
  display: inline-flex;
  justify-content: flex-end;
  z-index: 50;
  margin: 0;
  padding: 0;
  width: 100%;
  border: none;
  background-color: transparent;
}

.mobile-menu:hover, .mobile-menu:focus {
  color: var(--accent-color);
}

.mobile-menu.is-open {
  position: fixed;
  top: 10px;
  right: 15px;
}

@media (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu .icon-close {
  display: none;
}

.mobile-menu.is-open .icon-close {
  display: block;
}

.mobile-menu.is-open .icon-menu {
  display: none;
}

.mobile-menu__container {
  background-color: var(--secondary-accent-color);
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 48px;
  padding-bottom: 48px;
  z-index: 5;
  text-align: center;
  font-size: 20px;
  transition: opacity var(--transition), visibility var(--transition), left var(--transition);
}

.mobile-menu__container.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  left: 0;
}

@media (max-width: 767.98px) {
  .mobile-menu__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 100%;
    height: 100vh;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .mobile-menu__container {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    padding: 0;
  }
}

.hero {
  background-color: #2f303a;
  margin-right: auto;
  margin-left: auto;
  max-width: 1600px;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-image: linear-gradient(var(--hero-gradient)), url(../images/hero/header-480.jpg);
  background-size: 480px, cover;
}

@media (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(var(--hero-gradient)), url(../images/hero/header-480@2x.jpg);
  }
}

@media (min-width: 768px) {
  .hero {
    background-image: linear-gradient(var(--hero-gradient)), url(../images/hero/header-768.jpg);
    background-size: 768px, cover;
  }
}

@media (min-width: 768px) and (min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 192dpi), (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(var(--hero-gradient)), url(../images/hero/header-768@2x.jpg);
  }
}

@media (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(var(--hero-gradient)), url(../images/hero/header-1200.jpg);
    background-size: 1200px, cover;
  }
}

@media (min-width: 1200px) and (min-device-pixel-ratio: 2), (min-width: 1200px) and (min-resolution: 192dpi), (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(var(--hero-gradient)), url(../images/hero/header-1200@2x.jpg);
  }
}

.hero-title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-accent-color);
}

@media (min-width: 1200px) {
  .hero-title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.quality {
  padding-bottom: 0;
}

.feature-list {
  --card-item: 1;
}

@media (min-width: 768px) {
  .feature-list {
    --card-item: 2;
  }
}

@media (min-width: 1200px) {
  .feature-list {
    --card-item: 4;
  }
}

.qualiti-item {
  display: flex;
  height: 120px;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-background-color);
  margin-bottom: 30px;
  text-align: center;
}

.quality-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-title-color);
}

@media screen and (max-width: 1199px) {
  .service {
    display: none;
  }
}

.service-card {
  position: relative;
}

.service-icon {
  position: relative;
}

.service-thumb {
  position: absolute;
  display: flex;
  bottom: 0;
  width: 100%;
  height: 70px;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  line-height: 1.17;
  color: var(--primary-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.service-list {
  --card-item: 3;
}

.team {
  background: var(--secondary-background-color);
}

.team-card {
  flex-wrap: wrap;
  text-align: center;
  flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
  margin-top: 30px;
}

.team-list {
  --card-item: 1;
}

@media (min-width: 768px) {
  .team-list {
    --card-item: 2;
  }
}

@media (min-width: 1200px) {
  .team-list {
    --card-item: 4;
  }
}

.team-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--primary-title-color);
}

.team-content {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
  background-color: var(--secondary-accent-color);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.team-text {
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}

.client-list {
  --card-item: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .client-list {
    --card-item: 3;
  }
}

@media (min-width: 1200px) {
  .client-list {
    --card-item: 6;
  }
}

.client-link {
  outline: none;
  display: flex;
  width: 100%;
  height: 92px;
  color: var(--client-link);
  border: 1px solid currentColor;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  transition: color var(--transition);
}

.client-link:hover, .client-link:focus {
  border: 1px solid var(--accent-color);
}

.client-link__icon {
  fill: currentColor;
}

.client-link:hover .client-link__icon,
.client-link:focus .client-link__icon {
  fill: var(--accent-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--footer-background-color);
}

.footer .social-list__link {
  color: var(--secondary-accent-color);
}

.footer .logo {
  margin-bottom: 20px;
}

@media (max-width: 767.98px) {
  .footer .logo {
    justify-content: center;
  }
}

.footer-content {
  flex-direction: column;
}

@media (max-width: 767.98px) {
  .footer-content {
    align-items: center;
  }
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .footer-content .footer-item .logo {
    justify-content: center;
  }
}

@media (min-width: 1200px) {
  .footer-content {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
}

.footer-item {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.footer-item:last-child {
  margin-left: auto;
}

@media (min-width: 1200px) {
  .footer-item {
    margin-right: 0;
  }
  .footer-item:not(:last-child) {
    margin-right: 70px;
  }
}

@media (max-width: 767.98px) {
  .footer-item:not(:last-child) {
    margin-bottom: 60px;
  }
}

.footer-item__social .social-list {
  justify-content: center;
}

.footer-item__join {
  display: flex;
  flex-direction: column;
}

.adress {
  font-style: normal;
  color: var(--secondary-accent-color);
}

@media (min-width: 1200px) {
  .nav-footer {
    text-align: justify;
  }
}

.nav-footer .link {
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--transition);
}

.nav-footer .link:hover, .nav-footer .link:focus {
  color: var(--secondary-accent-color);
}

.nav-footer__item:not(:last-child) {
  margin-bottom: 8px;
}

@media (min-width: 1200px) {
  .nav-footer__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

@media (min-width: 768px) {
  .footer-social {
    display: flex;
    align-items: baseline;
  }
}

.footer-social {
  margin-bottom: 60px;
}

@media (min-width: 1200px) {
  .footer-social {
    margin-bottom: 0;
  }
}

.footer.social-list__link {
  color: var(--secondary-accent-color);
}

.social-send__button {
  margin-left: 10px;
  fill: currentColor;
}

.social-subscription {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  font-size: 16px;
}

@media (min-width: 1200px) {
  .social-subscription {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    flex-direction: row;
  }
}

.mail-subscription {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .mail-subscription {
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .mail-subscription {
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.mail {
  max-width: 450px;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--secondary-accent-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: border var(--transition);
}

.mail:hover, .mail:focus {
  outline: none;
  border-color: var(--accent-color);
}

@media (min-width: 1200px) {
  .mail {
    min-width: 358px;
  }
}

.send-button {
  display: flex;
  padding-left: 0;
  padding-right: 0;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .send-button {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1200px) {
  .send-button {
    display: flex;
    padding-left: 0;
    padding-right: 0;
    justify-content: center;
    align-items: center;
  }
  .hero-button {
    min-width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    border: none;
    letter-spacing: 0.06em;
    background: var(--accent-color);
    color: var(--secondary-accent-color);
    transition: background-color var(--transition);
  }
}

.join {
  margin-left: 70px;
}

.join-title {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-accent-color);
}

@media (min-width: 1200px) {
  .join-title {
    text-align: justify;
  }
}

.join-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color var(--transition);
}

.join-list__link:hover, .join-list__link:focus {
  background-color: var(--accent-color);
}

.join-list__icon {
  fill: var(--secondary-accent-color);
}

.join-list-link:hover .join-list__icon,
.join-list-link:focus .join-list__icon {
  background-color: var(--accent-color);
}

.join-list__item:not(:last-child) {
  margin-right: 10px;
}

.join-list {
  display: flex;
  justify-content: space-between;
}

.join-subscription {
  margin-left: auto;
  /* position: relative; */
}

.buttons-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  column-gap: 8px;
  row-gap: 15px;
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .buttons-list {
    margin-bottom: 30px;
  }
}

@media (min-width: 1200px) {
  .buttons-list {
    margin-bottom: 50px;
  }
}

.buttons-list .current {
  background-color: var(--accent-color);
  color: var(--secondary-accent-color);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  .buttons-list {
    justify-content: center;
  }
}

.button-item:not(:last-child) {
  margin-right: 8px;
}

.button {
  padding: 6px 22px;
  border-radius: 4px;
  border-color: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
  cursor: pointer;
  background: var(--secondary-background-color);
  transition: color var(--transition), background-color var(--transition), box-shadow var(--transition);
}

.button:hover, .button:focus {
  background-color: var(--accent-color);
  color: var(--secondary-accent-color);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
}

.work-list {
  --card-item: 1;
}

@media (min-width: 768px) {
  .work-list {
    --card-item: 2;
  }
}

@media (min-width: 1200px) {
  .work-list {
    --card-item: 3;
  }
}

.work-list__item {
  display: flex;
  height: 100%;
  flex-direction: column;
  transition: box-shadow var(--transition);
}

.work-list__item:hover, .work-list__item:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.product {
  position: relative;
  overflow: hidden;
}

.product-overlay {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform var(--transition);
}

.work-list__item:hover .product-overlay,
.work-list__item:focus .product-overlay {
  transform: translateY(0);
}

.product-thumb {
  position: absolute;
  width: 322px;
  height: 168px;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  font-family: roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: white;
}

.work-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-title-color);
}

.work-content {
  flex-grow: 1;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.work-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/*# sourceMappingURL=main.css.map */