.header {
  border-bottom: 1px solid #ececec;
  .current::after {
    content: "";
    display: flex;
    position: absolute;
    bottom: -1px;
    // width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: rgba(33, 150, 243, 1);
  }
  .logo {
    margin-top: 16px;
    margin-bottom: 16px;

    @include mq(tablet) {
      margin-right: 88px;
    }

    @include mq(desctop) {
      margin-right: 93px;
    }
  }
}

.header-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-nav {
  display: flex;

  color: var(--primary-title-color);

  .link.current {
    color: var(--accent-color);
  }

  .item:not(:last-child) {
    margin-right: 50px;
  }

  @include mq(mobile-only) {
    display: none;
  }

  // @media screen and (min-width: 768px) {
  //   .header-link {
  //     padding-top: 32px;
  //     padding-bottom: 32px;
  //   }
  // }
}

.header-link {
  display: flex;
  align-items: center;
  position: relative;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-colo);
  transition: color var(--transition);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.auth-nav {
  // display: flex;
  margin-left: auto;
  transition: fill var(--transition), color var(--transition);

  // .header-link:not(:last-child) {
  // }

  .header-link__icon {
    fill: currentColor;
    margin-right: 10px;
  }

  @include mq(mobile-only) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: block;
    .header-link {
      margin-bottom: 10px;
    }
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    .item:not(:last-child) {
      margin-right: 50px;
    }
    .header-link {
      margin-bottom: 0px;
    }
  }
}

.header {
  border-bottom: 1px solid #ececec;

  @include mq(tablet) {
    .current::after {
      content: "";
      display: flex;
      position: absolute;
      bottom: -1px;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: rgba(33, 150, 243, 1);
    }
  }
}

// .header-container {
//   display: flex;
//   position: relative;
//   align-items: center;
// }

// .nav {
//   display: flex;
// }

// @include mq(mobile-only) {
//   .navigation {
//     margin-top: 48px;
//   }
// }

// @include mq(tablet) {
//   .navigation {
//     margin-top: 32px;
//   }
// }
.site-nav {
  display: flex;

  color: var(--primary-title-color);

  .link.current {
    color: var(--accent-color);
  }

  @include mq(mobile-only) {
    .item:not(:last-child) {
      margin-bottom: 32px;
    }
    flex-direction: column;
  }
}
@include mq(tablet) {
  .site-nav .header-link {
    padding-bottom: 32px;
    padding-top: 32px;
  }
  .site-nav {
    .item:not(:last-child) {
      margin-right: 50px;
    }
  }
}
.header-link {
  display: flex;
  align-items: center;
  position: relative;
  font-weight: 500;

  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-colo);
  transition: color var(--transition);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  @include mq(mobile-only) {
    font-size: 40px;
    // padding-left: 40px;
  }

  @include mq(tablet) {
    font-size: 14px;
  }
}

.auth-social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-left: -20px;
  margin-top: -20px;
}

.auth-social__item:not(:last-child):after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: -18px;
  width: 1px;
  height: 22px;
  border: 1px solid var(--border-contact-form);
}

.auth-list__link {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

@include mq(tablet) {
  .auth-social__list {
    display: none;
  }
}

.auth-social__item {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  margin-top: 20px;
}

.auth-social__item:not(:last-child) {
  margin-right: 10px;
}
.auth-nav {
  margin-left: auto;
  transition: color var(--transition);
  @include mq(tablet) {
    transition: fill var(--transition);
  }

  .header-link {
    font-size: 30px;
  }

  // .item:not(:last-child) {
  //   margin-bottom: 32px;
  // }

  @include mq(mobile-only) {
    .item:not(:last-child) {
      margin-top: 32px;
    }

    .item:first-child {
      .header-link {
        font-size: 24px;
        font-weight: 500;
        line-height: 1.17;
        letter-spacing: 0.02em;
      }
    }
    .header-tel {
      color: var(--accent-color);
    }
    .item:last-child {
      .header-container {
        font-size: 34px;
        font-weight: 500;
        line-height: 1.18;
        letter-spacing: 0.02em;
        color: var(--accent-color);
        margin-bottom: 32px;
      }
    }
  }

  @include mq(tablet) {
    .header-link {
      font-size: 12px;
    }
    .item:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  @include mq(desctop) {
    .item:not(:last-child) {
      margin-right: 50px;
      margin-bottom: 0px;
    }
  }

  @include mq(desctop) {
    .header-link {
      font-size: 14px;
    }
    display: flex;
    margin-left: auto;
  }

  .header-link__icon {
    fill: currentColor;
    margin-right: 10px;
    @include mq(mobile-only) {
      display: none;
    }

    @include mq(desctop) {
      margin-right: 10px;
    }
  }
  @include mq(mobile-only) {
    flex-direction: column-reverse;
    display: flex;
    margin-bottom: 64px;
  }
}
