.mobile-menu {
  display: inline-flex;
  justify-content: flex-end;
  z-index: 50;
  margin: 0;
  padding: 0;
  width: 100%;
  border: none;
  background-color: transparent;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

@include mq(tablet) {
  .mobile-menu {
    display: none;
  }
}
.mobile-menu .icon-close {
  display: none;
}
.mobile-menu.is-open .icon-close {
  display: block;
}

.mobile-menu.is-open .icon-menu {
  display: none;
}

.mobile-menu__container {
  background-color: var(--secondary-accent-color);
  // padding: 20px;
  text-align: center;
  font-size: 20px;

  &.is-open {
    display: block;
  }

  @include mq(mobile-only) {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: scroll;
  }

  @include mq(tablet) {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
  }
}

// .mobile-menu {
//
//     height: 100vh;
//     overflow: auto;
//     background-color: bisque;
//     opacity: 0;
//     visibility: hidden;
//     pointer-events: none;
//     transition: opacity 250ms linear, visibility 250ms linear;
//   }
//   .mobile-menu.is-open {
//     opacity: 1;
//     visibility: visible;
//     pointer-events: auto;
//   }
//   .mobile-menu__close-btn {
//     position: absolute;
//     top: 10px;
//     right: 15px;
//     background-color: transparent;
//     border: none;
//     padding: 0;
//     line-height: 0;
//   }
//   .mobile-menu__container {
//     position: relative;
//     padding-top: 48px;
//     padding-bottom: 48px;
//   }
// }

// @media screen and (min-width: 768px) {
//   .mobile-menu-btn {
//     display: none;
//   }
//   .mobile-menu {
//     display: none;
//   }
