.work-list {
  --card-item: 3;
}

.work-list__item {
  display: flex;
  flex-direction: column;
  transition: box-shadow var(--transition);

  &:hover,
  &:focus {
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
      0px 1px 1px rgba(0, 0, 0, 0.12);
  }
}

.product {
  position: relative;
  overflow: hidden;
}

.product-overlay {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform var(--transition);

  .work-list__item:hover &,
  .work-list__item:focus & {
    transform: translateY(0);
  }
}

.product-thumb {
  position: absolute;

  width: 322px;
  height: 168px;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  font-family: roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 1);
}

.work-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--primary-title-color);
}

.work-content {
  padding: 20px 24px;

  border: 1px solid #eeeeee;
  border-top: none;
}

.work-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
